@CHARSET "UTF-8";

.content {
	display: block;
	margin: 10px 10%;
	paddig: 10px;
	background: #F2F2F2;
	color: #000;
	font-size: 12px;
	margin: 10px 10%;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.Agenda_Day {
	display: block;
	margin: 15px 15px;
	padding: 5px;
	color: #000;
	font-size: 12px;
	background: #d2d2d2;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.Agenda_Day h1 {
	margin-left: 10px;
}

.Agenda_timeTable {
	border: 0px solid black;
	border-collapse: collapse;
	text-align: left;
	margin: 10px 5px 10px 5px;
	width: auto;
	display: block;
}

.Agenda_timeTable_Wrapper {
	display: block;
	height: auto;
	width: 95%;
	margin: 5px;
	overflow: auto;
}

.Agenda_row {
	width: 100%;
}


.Agenda_cell {
	white-space: nowrap;
	width: 40px;
	background: #F2F2F2;
	border: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px;
}

.Agenda_tijd_cell {
	white-space: nowrap;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	background: #75507b;
	border: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px;
}

.Agenda_filled_cell {
	white-space: nowrap;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	background: #8ae234;
	border: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px;
}

.Agenda_cell_Event {
	/*position: relative; 
	border-top-width: 1px;
	margin-top: -1px; 
	*/
	width: auto;
	max-width: 100%;
	white-space: nowrap;
	background: #ad7fa8;
	border: 1px solid black;
}

.agenda {
	margin: 5px;
	padding: 5px;
}

.blank_calender_cell {
	background-color: #4e9a06;
}

.calender_cell {
	background-color: #204a87;
}

.calender_row {
	background-color: #c4a000;
	border: 1px solid #c4a000
}

body {
	background: #d3d7cf;
	margin: 0px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
}

input {
	margin: 10px;
}